<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenida</title>
</head>
<body>
    <form>
        <div class="grid justify-center items-center h-screen ">
          <div class="text-white bg-[#0F1113] flex flex-col p-10 justify-center items-center gap-8 w-[900px] h-[620px] rounded-2xl shadow-2xl shadow-black">
            <h2 class="text-3xl font-bold">Cuentanos sobre ti:</h2>
            <div *ngFor="let question of firstQuestions" class="mt-4">
                <h3 class="text-3xl">{{ question.question }}</h3>
                <input type="text" class="text-white rounded-2xl w-full mt-2 h-12">
            </div>
            <div class="flex justify-end mt-4">
              <button type="button" routerLink="/Form"
                  class="bg-[#D9A521] text-white font-bold px-5 py-3 rounded-3xl shadow-2xl shadow-black hover:bg-[#04325F] text-xl mb-5">
                  Enviar
              </button>
          </div>
        </div>
      </div>


    </form>
</body>
</html>
