<!DOCTYPE html>
<html>
  <head>
    <title>BIENVENIDO!</title>
  </head>
  <body>
    <div class="backgroundBody">
      <div class="container">
        <div class="TextoInicial">Bienvenido a nuestro formulario</div>
        <div class="TextoCentro"> Lorem ipsum dolor  sit amet, consectetur adipiscing elit, <br>
           sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. Ut enim ad <br>
           minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </div>
           <button class="buttonIngreso" routerLink="/Form"> Ingresar</button>
      </div>

    </div>

  </body>
  <footer></footer>
</html>
