<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>¡Gracias!</title>
  </head>
  <body>
    <div class="flex justify-center items-center h-screen">
      <div
        class="text-white bg-[#0F1113] flex flex-col p-16 justify-center items-center gap-24 w-[800px] h-[520px] rounded-2xl shadow-2xl shadow-black"
      >
        <h1 class="text-5xl font-bold text-center">
          ¡Muchas gracias por tu tiempo!
        </h1>
        <p class="text-xl">
          Gracias por dedicar unos momentos a completar este cuestionario. Tu
          contribución es invaluable para comprender mejor las dinámicas y
          desafíos que enfrentan quienes trabajan en el apasionante mundo
          de la hotelería.
        </p>
      </div>
    </div>
  </body>
</html>
