/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to bottom, #020206 75%, #DAA520 100%);
  background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  margin: 0; /* Remove default body margin */
}
