<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenida</title>
  </head>
  <body>
    <div class="container mx-auto p-4 text-white shadow-lg h-screen">
      <form class=" ">
        <div
          *ngFor="let question of questions"
          class="mb-6 p-10 gap-y-4 bg-[#0F1113] rounded-2xl shadow-xl shadow-black"
        >
          <div class="flex flex-col gap-y-2">
            <h3 class="text-3xl font-bold">Pregunta {{ question._id + 1 }}</h3>
            <div class="text-xl font-medium">
              {{ question.question }}
            </div>
            <div
              *ngFor="let option of question.answer"
              class="flex items-center my-2 bg-[#D9A521] hover:bg-[#305976] py-4 px-4 rounded-2xl shadow-md shadow-black"
            >
              <input
                type="radio"
                [value]="option.answer"
                name="question{{ question._id }}"
                id="option{{ option.answer }}"
                class="mr-2 w-6 h-auto bg-white"
              />
              <label for="option{{ option.answer }}" class="text-xl">{{
                option.answer
              }}</label>
            </div>
          </div>
        </div>
        <div class="flex justify-end">
          <button
            type="button"
            routerLink="/Despedida"
            class="bg-[#D9A521] text-white font-bold px-5 py-3 rounded-3xl shadow-2xl shadow-black hover:bg-[#04325F] text-xl mb-5"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
