<!DOCTYPE html>
<html>
  <head>
    <title>BIENVENIDO!</title>
  </head>
  <body class="">
    <div
      class="flex justify-center items-center h-screen "
    >
      <div
        class="text-white bg-[#0F1113] flex flex-col p-10 justify-center items-center gap-16 w-[800px] h-[520px] rounded-2xl shadow-2xl shadow-black"
      >
        <h1 class="text-5xl font-bold text-center">
        Selecciona Cuestionario Correspondiente a tu Posición
        </h1>

        <button
          class="text-white font-bold text-xl bg-gradient-to-r from-[#D96F21] to-[#D9A521] px-10 py-3 rounded-full shadow-2xl shadow-black hover:bg-[#04325F]"
          routerLink="/Clientes"
        >
          Clientes
        </button>
        <button
        class="text-white font-bold text-xl bg-gradient-to-r from-[#D96F21] to-[#D9A521] px-10 py-3 rounded-full shadow-2xl shadow-black hover:bg-[#04325F]"
        routerLink="/About"
      >
        Trabajadores
      </button>
      </div>
    </div>
  </body>
</html>
